table {
  width: 100%;
}

.table-control-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
}


