.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 320px;
  justify-content: center;
}

.sidenav-contents {
  padding: 5px;
}

.fullwidth {
  width: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  background-color: #dcdcdc;
}

