<ng-container>
  <mat-toolbar color="primary" class="ab-header">
    <a mat-button href="#">Redminer</a>
    <a mat-button routerLink="timeline">Timeline</a>

    <span class="ab-spacer"></span>

    <form>
      <mat-form-field class="ab-search">
        <label for="project">Project: </label>
        <input matInput [formControl]="searchControl" [matAutocomplete]="auto">
        <mat-icon matSuffix (click)="onClearSearch()">clear</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
          (optionSelected)="onSelectedProject($event.option.value)">
          <mat-option *ngFor="let project of filteredProjects | async" [value]="project">
            {{ project }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <mat-icon>settings</mat-icon>
  </mat-toolbar>
  <main role="main" class="ab-sidebar-container" autosize>
    <router-outlet></router-outlet>
  </main>
  <mat-toolbar class="ab-footer">Footer</mat-toolbar>
</ng-container>
