<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" autosize>
    <mat-toolbar color="primary">
    </mat-toolbar>
    <div class="sidenav-contents">
      <mat-form-field class="fullwidth">
        <mat-label></mat-label>
        <input [formControl]="searchControl" matInput placeholder="Search project">
        <mat-icon matPrefix>search</mat-icon>
        <mat-icon matSuffix (click)="onClearSearchProject()">
          clear
        </mat-icon>
      </mat-form-field>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let project of filteredProjects | async"
          (opened)="onSelectedProject(project)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ project.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon matLine>filter_list</mat-icon>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item>
                  <mat-form-field class="fullwidth">
                    <mat-select #filterStatus placeholder="Filters"
                      [value]="['open']" multiple>
                      <mat-option value="open">open</mat-option>
                      <mat-option value="closed">closed</mat-option>
                      <mat-option value="locked">locked</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field class="fullwidth">
                    <mat-label></mat-label>
                    <input #filter matInput placeholder="Search version">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-icon matSuffix (click)="filter.value=''">
                      clear
                    </mat-icon>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
            <mat-list>
              <mat-list-item (click)="onCreateNewVersion()">
                <a mat-raised-button matLine color="primary">Create new version</a>
              </mat-list-item>
            </mat-list>
            <mat-nav-list>
              <mat-list-item
                 *ngFor="let version of versions | versionNameFilter:filter.value | versionStatusFilter: filterStatus.value"
                 [ngClass]="selectedVersion === version ? 'active' : ''"
                 (click)="onSelectedVersion(version);">
                <span matLine>{{ version.name }}</span>
                <mat-icon matListIcon>
                  {{ getStatusIconString(version) }}
                </mat-icon>
              </mat-list-item>
            </mat-nav-list>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Redminer</span>
      <span class="spacer"></span>
      <mat-icon (click)="openSettingsDialog()">settings</mat-icon>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-version
      *ngIf="selectedVersion"
      [version]="selectedVersion"
      (updated)="onUpdatedVersion($event)"></app-version>
  </mat-sidenav-content>
</mat-sidenav-container>
