<button mat-raised-button color="primary"
  class="sidenav-button"
  (click)="onCreateNewVersion()">
  Create New Version
</button>
<mat-form-field>
  <input #filter matInput
    placeholder="Search version">
  <mat-icon matSuffix (click)="filter.value=''">
    clear
  </mat-icon>
</mat-form-field>
<mat-nav-list>
  <mat-list-item
    *ngFor="let version of versions | versionFilter:filter.value"
    [ngClass]="selectedVersion === version ? 'active' : ''"
    routerLink="version/{{version.id}}"
    routerLinkActive="active">
    <span matLine>{{ version.name }}</span>
    <mat-icon>
      {{ getStatusIconString(version) }}
    </mat-icon>
  </mat-list-item>
</mat-nav-list>
