
.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav {
  align-items: center;
  justify-content: center;
  width: 240px;
  background-color: #fafafa;
  padding: 20px;
}

.sidenav-button {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.sidenav-content {
  padding: 20px;
}

.active {
  background-color: #dcdcdc;
  font-weight: bold;
}

