  <mat-sidenav-container class="container" autosize>
    <mat-sidenav mode="side" opened class="sidenav"
      [fixedInViewport]="false"
      [fixedTopGap]="0"
      [fixedBottomGap]="0">
      <button mat-raised-button color="primary"
        class="sidenav-button"
        (click)="onCreateNewVersion()">Create New Version</button>
        <mat-form-field>
          <input #filter matInput
            placeholder="Search version">
        </mat-form-field>
      <mat-nav-list *ngFor="let version of versions | versionFilter:filter.value">
        <button mat-button mat-list-item
            class="sidenav-button"
            routerLink="version/{{version.id}}"
            routerLinkActive="active">
          <mat-icon (click)="onRemoveVersion($event, version)">
            delete
          </mat-icon>
          {{ version.name }}
        </button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
